<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento\Config:etc/system_file.xsd">
    <system>
        <section id="wb_adminordergrid" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Stock Status - Admin Products Grid</label>
            <tab>general</tab>
            <resource>WB_AdminOrderGrid::config</resource>
            <!-- General Settings -->
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Admin Order Grid</label>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Module</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
